fastapi==0.115.6
uvicorn[standard]==0.34.0
websockets==14.1
python-dotenv==1.0.1
pydantic==2.10.4
SQLAlchemy==2.0.36
langchain==0.3.13
langchain-core==0.3.28
langgraph==0.2.60
langchain-nvidia-ai-endpoints==0.3.7
langchain-chroma==0.1.4
langchain-huggingface==0.1.2
chromadb==0.5.23
sentence-transformers==3.3.1
requests==2.32.3
